<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Bring the default spring configuration for the console appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- URL de Alloy LOKI_HOST en environment variable conhttp://alloy:9999 o http://localhost:// -->
    <property name="LOKI_URL" value="${LOKI_HOST}/loki/api/v1/push"/>

    <!-- Enable the console and the loki appender only when running locally or in docker, enabled by spring profile -->
    <springProfile name="local, docker">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <labels>
                app = scott
                env = local
                host=${HOST}
            </labels>

            <message>
                <pattern>%-5level [%thread] %logger{20} - %msg%n</pattern>
            </message>

            <http>
                <url>${LOKI_URL}</url>
                <useProtobufApi>true</useProtobufApi>
                <!-- sender class="com.github.loki4j.logback.ApacheHttpSender" /-->
                <requestTimeoutMs>10000</requestTimeoutMs>
                <maxRetries>3</maxRetries>
            </http>

            <batch>
                <maxItems>100</maxItems>
                <timeoutMs>5000</timeoutMs>
            </batch>

            <verbose>false</verbose>
        </appender>

        <!-- Enable async appenders to make logging not choke the current thread -->
        <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE"/>
            <queueSize>8192</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>true</neverBlock>
        </appender>

        <appender name="ASYNC_LOKI" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="LOKI"/>
            <queueSize>8192</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>true</neverBlock>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE"/>
            <appender-ref ref="ASYNC_LOKI"/>
        </root>
    </springProfile>


    <!-- Use console appender with json encoder when in other environments or with default profile -->
    <springProfile name="!local &amp; !docker">

        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <!-- Timestamp in ISO format -->
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                    </timestamp>

                    <!-- Log level -->
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>

                    <!-- Logger name -->
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>

                    <!-- Thread name -->
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>

                    <!-- Log message -->
                    <message>
                        <fieldName>message</fieldName>
                    </message>

                    <!-- MDC (Mapped Diagnostic Context) -->
                    <mdc>
                        <fieldName>mdc</fieldName>
                    </mdc>
                </providers>
            </encoder>
        </appender>


        <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="JSON"/>
            <queueSize>8192</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>true</neverBlock>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_JSON"/>
        </root>
    </springProfile>


</configuration>
